# Initializing Lists in Python
There are several ways to initialize lists in Python

## .1) Using Square Brackets
This is the most common way of creating a list in Python. We use a pair of square brackets ([]) and within those brackets we put each value that we want seperated by a comma

In [1]:
mySiblings = ['Anas', 'Areeba', 'Abual Wasay']
print(mySiblings)

['Anas', 'Areeba', 'Abual Wasay']

## .2) Using Empty Square Brackets With `.append()`

In this method we create a list using square brackets and for time being leave it empty. Then to populate that list we use `.append()` method. `.append()` method takes only one argument which is placed at the end of the list

In [2]:
courses = []
print(courses)
courses.append("maths")
courses.append("physics")
print(courses)
courses.append("chemistry")
print(courses)

[]
['maths', 'physics']
['maths', 'physics', 'chemistry']

## .3) Using List Comprehension
This is another way of initializing lists in Python discussed in a seperate notebook of itself

## .4) Using List Multiplication

In [4]:
x = [1, 2, 3] * 4
print(x)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [5]:
y = ['a'] * 2
print(y)

['a', 'a']

## .5) Using `list()`
`list()` constructor returns a Python list. It takes only one optional argument meaning its upto us to provide this argument or not. Syntax of `list()` is 

`list([iterable])`

Not providing the argument will creat an empty list and then we have to use `.append()` to populate the empty list

In [1]:
temp = list() # temp will be an empty list
print(temp)

[]

In [2]:
temp.append(98.2)
temp.append(99.4)
print(temp)

[98.2, 99.4]

In [9]:
friends = list(['rabi', "razi"])
print(friends)

['rabi', 'razi']

In [10]:
x = list("hasnain")
print(x)

['h', 'a', 's', 'n', 'a', 'i', 'n']

In [11]:
my_tuple = (1, 2, 3)
y = list(my_tuple)
print(y)

[1, 2, 3]

In [12]:
my_list = [1, 2, 3]
z = list(my_list)
print(z)

[1, 2, 3]

Observe how `list()` takes an iterable object and convert it into list

### Remember:
- Empty Python list can be created in two ways. One using empty square brackets ([]) and another using `list()`

# Comapring Lists

## .1) Equality
Two list are said to be equal is they have exact same elements in exact same position. It means both should have same number of elements and their position should also be same

In [3]:
a = [1, 2, 3, "e"]
b = [1, "e", 2, 3]
a == b # both have same elements but at different location

False

In [5]:
a = [1, 2, 3, "e"]
b = [1, 2, 3, "e"]
a == b

True

In [6]:
a = ["has", "an", "ar", "Ab"]
b = ["has", "an", "ar", "ab"] 
a == b

False

In [7]:
a = ["has", "an", "ar", "Ab"]
b = ["has", "an", "ar", "Ab"]
a == b

True

## .2) Greater Than and Less Than

### 2.1) Comparison involving integers and floats
Comparison between two lists in Python is done on the basis of first elements of both lists. If the first elements are equal then Python decides on the basis of second element. If second element is also equal then it moves to next element and so on

In [17]:
c = [4, 2, 3]
d = [1]
c > d

True

Here Python just compared the first element of `c` with first element of `d`. 4 is greater than 1 therefore Python outputs `True`. Python won't even bother to check the next element

In [18]:
c = [4, 2, 3]
d = [4, 3, 1]
c > d

False

Here first elements are equal therefore Python compared 2 to 3 which resulted in `False`

In [19]:
c = [4, 2, 3]
d = [4]
c > d

True

Here first elements are equal therefore Python moved on to the next element but `d` doesn't have second element so it consider that second element of `d` is 0 and produced the output accordingly

In [20]:
c = [10, 20, 30]
d = [11.5]
c < d

True

In [23]:
c = [10, 20]
d = ["50"]
c < d # Comparing int to str

TypeError: '<' not supported between instances of 'int' and 'str'

### Note:
It is important to note that Python can compare integer with a float but it can't compare integer or float to a string. String can only be compared to a string

### 2.2) Comparison involving string
If first element of lists that are being compared are string then Python follows rules that are used for comparing two strings

Python compares string lexicographically i.e using ASCII value of the characters

Only first character of strings are compared. If first character are same then second character are compared and so on

In [27]:
a = "dog"
b = "B"
a > b

True

First character of `a`, which is *d* having ASCII value of 100, and first character of `b`, which is *B* having ASCII value of 66, are comapred and since ASCII value of *d* is greater than *B* therefore `a > b` is `True`

In [29]:
a = "dogs"
b = "dog"
a > b

True

Here first three characters are same therefore fourth character of both are compared. But `b` doesn't have fourth character, so Python considered it to be 0

In [30]:
a = "dogs"
b = "dogt"
a > b

False

Now `b` has fourth character which has a greater ASCII value than the fourth character of `a` therefore now `b` is greater than `a`

# Accessing Values in List
## .1) Accessing single value
To access a sinlge value from a list, write name of the list followed by square brackets and inside the square brackets mention the index number of the value you want to get

Remember, index numbering starts from 0

In [1]:
my_courses = ["History", "Geography", "Maths", "Physics"] 

# Index of "History" is 0 whereas, index of "Physics" is 3

print(my_courses[1])

Geography

## .2) Accessing multiple values
To access multiple values from a list we have to apply slicing
### Example: 1

In [5]:
print(my_courses[0:2]) # Start accessing value from index 0 and go till but not including index 2

['History', 'Geography']

### Example: 2
We can also skip values using the slicing syntax

In [6]:
print(my_courses[::2]) # Start from index 0 and go till last index but skipping one value at a time

['History', 'Maths']

### Example: 3

In [7]:
print(my_courses[::-1]) # Reversing the list

['Physics', 'Maths', 'Geography', 'History']

# Useful methods to use with lists
Here I have mentioned some of the most commonly used methods with Python lists. Full working is further described in the notebook