# Initializing Lists in Python
There are several ways to initialize lists in Python

## .1) Using Square Brackets
This is the most common way of creating a list in Python. We use a pair of square brackets ([]) and within those brackets we put each value that we want seperated by a comma

In [1]:
mySiblings = ['Anas', 'Areeba', 'Abual Wasay']
print(mySiblings)

['Anas', 'Areeba', 'Abual Wasay']

## .2) Using Empty Square Brackets With `.append()`

In this method we create a list using square brackets and for time being leave it empty. Then to populate that list we use `.append()` method. `.append()` method takes only one argument which is placed at the end of the list

In [2]:
courses = []
print(courses)
courses.append("maths")
courses.append("physics")
print(courses)
courses.append("chemistry")
print(courses)

[]
['maths', 'physics']
['maths', 'physics', 'chemistry']

## .3) Using List Comprehension
This is another way of initializing lists in Python discussed in a seperate notebook of itself

## .4) Using List Multiplication

In [4]:
x = [1, 2, 3] * 4
print(x)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [5]:
y = ['a'] * 2
print(y)

['a', 'a']

## .5) Using `list()`
`list()` constructor returns a Python list. It takes only one optional argument meaning its upto us to provide this argument or not. Syntax of `list()` is 

`list([iterable])`

Not providing the argument will creat an empty list and then we have to use `.append()` to populate the empty list

In [1]:
temp = list() # temp will be an empty list
print(temp)

[]

In [2]:
temp.append(98.2)
temp.append(99.4)
print(temp)

[98.2, 99.4]

In [9]:
friends = list(['rabi', "razi"])
print(friends)

['rabi', 'razi']

In [10]:
x = list("hasnain")
print(x)

['h', 'a', 's', 'n', 'a', 'i', 'n']

In [11]:
my_tuple = (1, 2, 3)
y = list(my_tuple)
print(y)

[1, 2, 3]

In [12]:
my_list = [1, 2, 3]
z = list(my_list)
print(z)

[1, 2, 3]

Observe how `list()` takes an iterable object and convert it into list

### Remember:
- Empty Python list can be created in two ways. One using empty square brackets ([]) and another using `list()`

# Comapring Lists

## .1) Equality
Two list are said to be equal is they have exact same elements in exact same position. It means both should have same number of elements and their position should also be same

In [3]:
a = [1, 2, 3, "e"]
b = [1, "e", 2, 3]
a == b # both have same elements but at different location

False

In [5]:
a = [1, 2, 3, "e"]
b = [1, 2, 3, "e"]
a == b

True

In [6]:
a = ["has", "an", "ar", "Ab"]
b = ["has", "an", "ar", "ab"] 
a == b

False

In [7]:
a = ["has", "an", "ar", "Ab"]
b = ["has", "an", "ar", "Ab"]
a == b

True

## .2) Greater Than and Less Than

### 2.1) Comparison involving integers and floats
Comparison between two lists in Python is done on the basis of first elements of both lists. If the first elements are equal then Python decides on the basis of second element. If second element is also equal then it moves to next element and so on

In [17]:
c = [4, 2, 3]
d = [1]
c > d

True

Here Python just compared the first element of `c` with first element of `d`. 4 is greater than 1 therefore Python outputs `True`. Python won't even bother to check the next element

In [18]:
c = [4, 2, 3]
d = [4, 3, 1]
c > d

False

Here first elements are equal therefore Python compared 2 to 3 which resulted in `False`

In [19]:
c = [4, 2, 3]
d = [4]
c > d

True

Here first elements are equal therefore Python moved on to the next element but `d` doesn't have second element so it consider that second element of `d` is 0 and produced the output accordingly

In [20]:
c = [10, 20, 30]
d = [11.5]
c < d

True

In [23]:
c = [10, 20]
d = ["50"]
c < d # Comparing int to str

TypeError: '<' not supported between instances of 'int' and 'str'

### Note:
It is important to note that Python can compare integer with a float but it can't compare integer or float to a string. String can only be compared to a string

### 2.2) Comparison involving string
If first element of lists that are being compared are string then Python follows rules that are used for comparing two strings

Python compares string lexicographically i.e using ASCII value of the characters

Only first character of strings are compared. If first character are same then second character are compared and so on

In [27]:
a = "dog"
b = "B"
a > b

True

First character of `a`, which is *d* having ASCII value of 100, and first character of `b`, which is *B* having ASCII value of 66, are comapred and since ASCII value of *d* is greater than *B* therefore `a > b` is `True`

In [29]:
a = "dogs"
b = "dog"
a > b

True

Here first three characters are same therefore fourth character of both are compared. But `b` doesn't have fourth character, so Python considered it to be 0

In [30]:
a = "dogs"
b = "dogt"
a > b

False

Now `b` has fourth character which has a greater ASCII value than the fourth character of `a` therefore now `b` is greater than `a`

# Accessing Values in List
## .1) Accessing single value
To access a sinlge value from a list, write name of the list followed by square brackets and inside the square brackets mention the index number of the value you want to get

Remember, index numbering starts from 0

In [1]:
my_courses = ["History", "Geography", "Maths", "Physics"] 

# Index of "History" is 0 whereas, index of "Physics" is 3

print(my_courses[1])

Geography

## .2) Accessing multiple values
To access multiple values from a list we have to apply slicing
### Example: 1

In [5]:
print(my_courses[0:2]) # Start accessing value from index 0 and go till but not including index 2

['History', 'Geography']

### Example: 2
We can also skip values using the slicing syntax

In [6]:
print(my_courses[::2]) # Start from index 0 and go till last index but skipping one value at a time

['History', 'Maths']

### Example: 3

In [7]:
print(my_courses[::-1]) # Reversing the list

['Physics', 'Maths', 'Geography', 'History']

# Useful methods to use with lists
Here I have mentioned some of the most commonly used methods with Python lists. Full working of each is described later in the notebook

- **`x.append(<obj>)`**

Arg: Only one object (int, float, list, dic, etc)

Effect: Provided object is added at the end of list `x` (adds single item)

Return: None

Modify original list: Yes

In [1]:
x = ["a", "b"]
x.append([1, 2])
print(x)

['a', 'b', [1, 2]]

In [2]:
x = ["a", "b"]
x.append("has")
print(x)

['a', 'b', 'has']

- **`x.extend(<iterable>)`**

Arg: Only one iterable (list, tuple, string, dic)

Effect: Add each individual item of provided iterable at the end of list `x` (adds multiple items)

Return: None

Modify original list: Yes

In [3]:
x = ["a", "b"]
x.extend("an iterable")
print(x)

['a', 'b', 'a', 'n', ' ', 'i', 't', 'e', 'r', 'a', 'b', 'l', 'e']

In [4]:
x = ["a", "b"]
x.extend({"c": 1, "d": 2})
print(x)

['a', 'b', 'c', 'd']

In [5]:
x = [1, 2]
x.extend([3, 4, "anas"])
print(x)

[1, 2, 3, 4, 'anas']

- **`x.insert(<index>, <obj>)`**

Args: Two, index number and an object

Effect: Stores provided object at given index number, shifting other elements to the right

Return: None

Modify original list: Yes

In [6]:
x = [1, 2, 3, 4]
x.insert(1, ["a", "b"])
print(x)

[1, ['a', 'b'], 2, 3, 4]

In [10]:
x = ["has", "anas", "abdual"]
x.insert(-1, "areeba")
print(x)

['has', 'anas', 'areeba', 'abdual']

#### Note:
Observe at it added provided object at the end of last list and shifting previous value to the left.

- **`x.remove(<obj>)`**

Args: Only one object

Effect: Remove the provided object from list `x`

Return: None

Modify original list: Yes

In [11]:
x = ["has", "anas", 1, 20.5]
x.remove("anas")
print(x)

['has', 1, 20.5]

In [12]:
x = ["has", "anas", 1, 20.5]
x.remove("Anas") # trying to remove non existing item
print(x)

ValueError: list.remove(x): x not in list

- **`x.pop()`** OR **`x.pop(<index>)`**

It can be used in two ways. If index number is not provided it removes last item from list, else it removes item from provided index

Retuen: The removed item

Modify original list: Yes

In [13]:
x = ["a", "b", "c", "d"]
print(x.pop())
print(x)

d
['a', 'b', 'c']

In [14]:
x = ["a", "b", "c", "d"]
print(x.pop(0))
print(x)

a
['b', 'c', 'd']

- **`x.index(<obj>)`**
Args: Only one object

Effect: Tells the index of provided object

Return: Index number of provided object

Modify original list: No

In [19]:
x = ["a", "b", "c"]
print(x.index("a"))

0

In [16]:
x = ["a", "b", "c"]
print(x.index("aa"))

ValueError: 'aa' is not in list

- **`x.sort()`**

Args: None

Effect: Sort the list in ascending order

Return: None

Modify original list: Yes

##### Note:
1) If we want our list to be sorted in descending order then use `a.sort(reverse=True)`

2) Won't work if list conatins combination of int and str

In [33]:
x = ["Hasnain", "anas", "areeba", "Abdual Wasay"] # A = 65, a = 97
x.sort()
print(x)

['Abdual Wasay', 'Hasnain', 'anas', 'areeba']

In [34]:
x = ["Hasnain", "anas", "areeba", "Abdual Wasay"] # A = 65, a = 97
x.sort(reverse=True)
print(x)

['areeba', 'anas', 'Hasnain', 'Abdual Wasay']

In [35]:
x = [10.7, 20, 0.25, 7]
x.sort()
print(x)

[0.25, 7, 10.7, 20]

In [37]:
x = ["has", 1, "1"]
x.sort()
print(x)

TypeError: '<' not supported between instances of 'int' and 'str'

- **`a.reverse()`**

Args: None

Effect: Reverse list `a`

Return: None

Modify original list: Yes

In [38]:
x = [1, "has", "physics"]
x.reverse()
print(x)

['physics', 'has', 1]

# Modifying List Values
## .1) Single list value
Using index number and assignment operator we can simply modify a single value of list

In [20]:
a = [1, 2, 3, 4]
a[0] = "has"
print(a)

['has', 2, 3, 4]

## .2) Multiple list value
We can modify multiple value using slicing 

`a[m:n] = <iterable>`

In [21]:
a = [1, 2, 3, 4, 50.5, 60, 70]
a[1:3] = ["has", "anas"]
print(a)

[1, 'has', 'anas', 4, 50.5, 60, 70]

In [22]:
a = [1, 2, 3, 4, 50.5, 60, 70]
a[1:3] = []
print(a)

[1, 4, 50.5, 60, 70]

Here we didn't provided any value for both index 1 and 2 so it emptied both of them

In [23]:
a = [1, 2, 3, 4, 50.5, 60, 70]
a[1:2] = ["has", "anas"]
print(a)

[1, 'has', 'anas', 3, 4, 50.5, 60, 70]

In [25]:
a = [1, 2, 3, 4, 50.5, 60, 70]
a[1:3] = ["has"]
print(a)

[1, 'has', 4, 50.5, 60, 70]

Here for index 1 it got the value **has** so it replaced this vlaue with previous one. But for index 2 it didn't get any value so it emptied it

# Some built-in Python functions to be used with lists
- **`len()`**

Args: Takes one list

Return: Number of elements in a list

In [11]:
x = [1, 2, "has", ["a", "b"]]
len(x)

4

In [13]:
x = [1, 2, "has", ["a", "b"]] # length of sublist
len(x[3])

2

- **`sum()`**

Args: Takes one list containing only **int or float**

Return: Sum of all elements of list

##### Note:
This function won't work if list contains string

In [14]:
sum([1, 2, 3.5])

6.5

- **`max()`**

Args: A list containing entirely int, float or combination of both. Or a list containing only string

Return: Maximum value depending on ASCII value

In [24]:
max(["b", "bang"])

'bang'

In [25]:
max([1, 2, 3.7])

3.7

In [30]:
max([1, "h"]) # error due to occurrence of int and float together

TypeError: '>' not supported between instances of 'str' and 'int'

- **`min()`**

Args: A list containing entirely int, float or combination of both. Or a list containing only string

Return: Minimum value depending on ASCII value

In [28]:
min([20.5, 100, 12])

12

In [29]:
min(["m", "abc", "z"])

'abc'

In [31]:
min([1, "h"]) # error due to occurrence of int and float together

TypeError: '<' not supported between instances of 'str' and 'int'

- **`sorted()`**

Args: A list 

Effect: Sort provided list in ascending order

Return: A new sorted list without changing original list

###### Note:
Won't work if list contains a mixture of int and str

In [41]:
x = [3, 2, 3, 1]
x_sorted = sorted(x)
print(x)
print(x_sorted)

[3, 2, 3, 1]
[1, 2, 3, 3]

# Checking whether value is present in a list or not
**`in`** and **`not in`** are used to check whether an element is present in a list or not

In [43]:
"x" in ["a", "x", "b"]

True

In [44]:
"x" not in ["a", "x", "b"]

False

# Tips and Tricks
### 1) Add multiple value in between a list
`x.extend(<iterable>)` add multiple items at the end of a list. What if we want to add multiple items somewhere in between and not at the end. For this case following command is used:

`x[m:m] = <iterable>`

In [42]:
a = [1, 2, 3, 4, 50.5, 60, 70]
a[1:1] = ["has", "anas"]
print(a)

[1, 'has', 'anas', 2, 3, 4, 50.5, 60, 70]

Here previously the value at index 1 was *2*. This value was not modified instead it was shifted to the right and new values were added at index 1